<!DOCTYPE html>
{% extends "first_app/base.html" %}
{% block body_block %}
    <div class="jumbotron">
        <h2>Go to /formpage to add topic </h2>
    </div>
    <div class="records">
        {% if topics %}
            <table>
                <thead>
                    <th>Topic Name</th>
                    <th>Topic Cut Name Version</th>
                </thead>

                {% for topic in topics %}
                    <tr>
                        <td> {{ topic.top_name | upper }}  </td>
                        <td> {{ topic.top_name | cut:'a' }}  </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No topic added</p>
        {% endif %}
    </div>
{% endblock %}
